h1{color:GRAY;font-size:80px;font-family: myfont;margin-bottom: 0px;}
@font-face{font-family:myfont ; src:url(../font/KeepCalm-Medium.ttf);}
#drac{margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    text-align:center;
    width: 610px;color:black;font-size:20px;text-align: right;}
    body {
        background: rgb(255, 255, 255);
        color: #000000;}
        #b{background: rgba(253, 228, 0, 0.664);width: 1330px;height: 10px }
        #Todo {
            text-align: center;
        }
        #Z {
            
            text-align: center;
            font-size: 20pt;
            font-family:"roboto";
            color:black;
        }

        #x{
            text-align: center;
            font-size: 20pt;
            font-family:"roboto";
            color:black; 
        }