body{background-color: white;}
/* #a{border-radius: 30px ;background: red;width:90%;height:90%;position:absolute ;margin-left: 50px;} */
@font-face{font-family:myfont ; src:url(KeepCalm-Medium.ttf);}
#io{margin-right:100px; ; float: left; width : 400px;margin-left:100px;}
#oi{margin-right: 100px; float: left; width : 400px;margin-left:100px;}

#kk{margin-right:20px; border:2px  ;padding:20px; width: 500px;height:200px ;float: left;margin-top: 0px; ;font-family: 'Roboto';font-size: 18px;margin-left:100px; }
#oo{margin-right:20px;  border:2px  ;padding:20px; width: 500px;height:200px;float: left;margin-top: 0px; ;font-family: 'Roboto';font-size: 18px ;margin-left:20px;   }
#jo{font-family:"myfont"; font-size: 46px;margin-left:120px;color:gray;margin-bottom: 0px;margin-top: 50px; }
div{border-radius: 30px ;background-color:  rgb(240, 240, 240);}