body {
   font-family: Georgia, 'Times New Roman', Times, serif;
   color: #333;
   font-size: 1.2rem;
   line-height: 1.6em;
   margin: 0;
}

.container {
    width: 80%;
    max-width: 850px;
    margin: 0 auto;
}

.header {
    background: #333;
    color :width ;
    padding: 2rem 0;

}

.header a {
    color: white;
    text-decoration: none;

}

.logo-nav-container  {
    display:flex ;
    justify-content:space-between;
    align-items: center;
}

.navigation ul {
    margin:0;
    padding:0;
    list-style: none;
}

.navigation ul li {
    display: inline-block;
}

.navigation ul li a{
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.4s linear;
    border-radius: 5px;
}

.navigation ul li a:hover{
    background-color: #4a4a4a;

}

 .logo {
     letter-spacing: 15px;
     font-size: 1.3em;
 }





